*{
  padding: 0;
  margin: 0;
}





.d1{
  background-color: rgb(0, 17, 255);
  width: 100vw;
  height: 75vh;
}


.left{

width: 50vw;
height: 60vh;
position: absolute;

}

h1{

  text-align: left;
  margin-top: 10vw;
  font-size: 3vw;
  color: white;
  
}

p{
  font-size: large;
  color: white;
}

h2{
  font-size: 2vw;
  color: blue;
}

h2{
  font-size: 2vw;
  color: black;
}

p{
  text-align: left;
}

h3{
  font-size: 2vw;
  color: black;
  text-align: justify;
  text-justify: auto;
}


h4{
  font-size: 2vw;
  
}

p{
  color: black;
}


h3{

  color: black;
  font-size: 2vw;
  text-align: center;

  
}


.d3{
  background-color: aqua;
  width: 30vw;
  height: 60vh;
}


.flex-container {
  display: flex;
  background-color: white;
  flex-direction: row;

  
}


.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 40vw;
  height: 40vh; 

}


.container {
width: 100%;
right: 20%;
left: 20%;
margin: 0 auto;

}

.row {

margin-bottom: 10px;
}



.class_container{
  display:flex;
  background-color: white;
  flex-direction: row;
}

.class_container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 40vw;
  height: 40vh; 

}
.Servicesheading{
 margin-top:7em;
 margin-bottom:7em ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}



.active {
  background-color: #04AA6D;
}
.logo{
  float: left;
}
li {
  float: right;
}

.d4{
  background-color: antiquewhite;
  width: 100%;
  height: 50vh;
}



.count{
  display:flex;
  background-color: white;
  flex-direction: row;
}

.count > div :hover {
  background-color: brown;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 40vw;
  height: 40vh; 
  cursor: pointer;
}


h5{
  text-align: right;
}

#main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#left{
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right{
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 60vh;
  width: 40vw;
  background-color: white;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input{
  font-size: 2vw;
  width: 80%;
}

input[type="submit"] {

  background-color: gray;
  color: white;
  border: none;
  padding: 1vw;
}


.d6{
  background-color: rgb(0, 17, 255);
  width: 100vw;
  height: 75vh;
}